@{
    ViewBag.Title = "s20";
}

<!-- grow -->
<div class="grow">
    <div class="container">
        <h2>Rodenticides</h2>
    </div>
</div>
<!-- grow -->


<div class="content-top">

    <div class="grid-in">
        <div class="col-md-3 grid-top simpleCart_shelfItem">

            &nbsp  &nbsp   &nbsp   &nbsp <img class="img-responsive" src="../../Content/images/r4.jpg" alt="">


        </div>

        <div class="col-md-5 single-top-in simpleCart_shelfItem">
            <div class="single-para ">
                <h2> RAT AND MOUSE KILLER</h2>
                <br>

                <h5 class="item_price">Rs 200.00</h5>
                <p>
                    Millions of farmers around the world use  RAT AND MOUSE KILLER®. This pesticide, used for advanced protection,
                    is the ideal solution for many pests and crops.
                    It is the powerful brand that farmers can depend upon. RAT AND MOUSE KILLER® is effective
                    on a broad range of insects at all stages of development.
                    It is an intelligent solution in which the active ingredient is contained inside microscopic polymer capsules.
                </p>



            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!---->


    <div class="clearfix"> </div>
</div>
</div>

