@{
    ViewBag.Title = "p2";
}

<!-- products -->
<!-- grow -->
<div class="grow">
    <div class="container">
        <h2>Herbicides</h2>
    </div>
</div>
<!-- grow -->




<div class="content-top">

    <div class="grid-in">
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            
            <a href="/Single/s9">
                <img class="img-responsive" src="../../Content/images/f2.jpg" alt="">

            </a>


            <p>Ferti-Lome</a>
           <p class="number item_price"><i> </i>Rs 150.00</p>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s10">
                <img class="img-responsive" src="../../Content/images/f1.jpg" alt="">

            </a>
            <p>Secure</p>
            <p class="number item_price"><i> </i>Rs 500.00</p>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s11">
                <img class="img-responsive" src="../../Content/images/h3.jpg" alt="">

                </a>
                <p>Tanacity</p>
                <p class="number item_price"><i> </i>Rs 300.00</p>
</div>

        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s12">
                <img class="img-responsive" src="../../Content/images/Goal.jpg" alt="">
                </a>

                <p>Goal</p>
                <p class="number item_price"><i> </i>Rs 300.00</p>
</div>



        <div class="clearfix"> </div>
    </div>
</div>


