@{
    ViewBag.Title = "p3";
}

<!-- products -->
<!-- grow -->
<div class="grow">
    <div class="container">
        <h2>Fungicides</h2>
    </div>
</div>
<!-- grow -->




<div class="content-top">

    <div class="grid-in">
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s13">
                <img class="img-responsive" src="../../Content/images/f1.jpg" alt="">

            </a>


            <p>Secure</p>
            <p class="number item_price"><i> </i>Rs 500.00</p>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s14">
                <img class="img-responsive" src="../../Content/images/f2.jpg" alt="">

            </a>
            <p>Ferti-Lome</p>
            <p class="number item_price"><i> </i>Rs 150.00</p>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s15">
                <img class="img-responsive" src="../../Content/images/f3.jpg" alt="">

            </a>
            <p>Heritage G</p>
            <p class="number item_price"><i> </i>Rs 300.00</p>
        </div>
        <div class="col-md-3 grid-top">
            <a href="/Single/s16">
                <img class="img-responsive" src="../../Content/images/p4.jpg" alt="">

            </a>
            <p>K-Obiol</p>
            <p class="number item_price"><i> </i>Rs 650.00</p>
        </div>
        <div class="clearfix"> </div>
    </div>

</div>

