@{
    ViewBag.Title = "p4";
}

<!-- products -->
<!-- grow -->
<div class="grow">
    <div class="container">
        <h2>Rodenticides</h2>
    </div>
</div>
<!-- grow -->




<div class="content-top">

    <div class="grid-in">
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s17">
                <img class="img-responsive" src="../../Content/images/r11.jpg" alt="">

            </a>


            <p>D-CON</p>
            <p class="number item_price"><i> </i>Rs 150.00</p>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s18">
                <img class="img-responsive" src="../../Content/images/r22.jpg" alt="">

            </a>
            <p>FARM_HYDROGEN PEROXIDE</p>
           <p class="number item_price"><i> </i>Rs 300.00</p></a>
        </div>
        <div class="col-md-3 grid-top simpleCart_shelfItem">
            <a href="/Single/s19">
                <img class="img-responsive" src="../../Content/images/r3.jpg" alt="">

            </a>
            <p>RAT-X</p>
            <p class="number item_price"><i> </i>Rs 180.00</p>
        </div>
        <div class="col-md-3 grid-top">
            <a href="/Single/s20">
                <img class="img-responsive" src="../../Content/images/r4.jpg" alt="">

            </a>
            <p>RAT AND MOUCE KILLER</p>
           <p class="number item_price"><i> </i>Rs 200.00</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>



