@{
    ViewBag.Title = "index";
}


<div class="banner">
    <div class="container">
        <script src="../../Content/js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>


    </div>
</div>

<!--content-->
<div class="container">
    <div class="cont">
        <div class="content">
            <div class="content-top-bottom">
                <h2>PESTICIDES CATEGORIES</h2>
                <div class="col-md-6 men">
                    <a href="../../product/p1" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="../../Content/images/t1.jpg" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in   b-delay03 ">
                                <span>INSECTICIDES</span>
                            </h3>
                        </div>
                    </a>


                </div>
                <div class="col-md-6">
                    <div class="col-md1 ">
                        <a href="../../product/p2" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="../../Content/images/t2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                    <span>HERBICIDES</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="col-md2">
                        <div class="col-md-6 men1">
                            <a href="../../product/p3" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="../../Content/images/t3.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span>FUNGICIDE</span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="col-md-6 men2">
                            <a href="../../product/p4" class="b-link-stripe b-animate-go  thickbox">
                                <img class="img-responsive" src="../../Content/images/t4.jpg" alt="">
                                <div class="b-wrapper">
                                    <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                        <span>RODENTICIDES</span>
                                    </h3>
                                </div>
                            </a>

                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="content-top">
                <h1>NEW PRODUCTS</h1>
                <div class="grid-in">
                    <div class="col-md-3 grid-top simpleCart_shelfItem">
                        <a href="../../product/p1" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="../../Content/images/p1.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>NEW</span>

                                </h3>
                            </div>
                        </a>


                        <p>Karate Zeon</p>
                        <p class="number item_price"><i> </i>Rs 150.00</p>
                    </div>
                    <div class="col-md-3 grid-top simpleCart_shelfItem">
                        <a href="../../product/p1" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="../../Content/images/p2.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>NEW</span>
                                </h3>
                            </div>
                        </a>
                        <p>Stinger</p>
                        <p class="number item_price"><i> </i>Rs 510.00</p>
                    </div>
                    <div class="col-md-3 grid-top simpleCart_shelfItem">
                        <a href="../../product/p1" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="../../Content/images/p3.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>NEW</span>
                                </h3>
                            </div>
                        </a>
                        <p>Nurelle D</p>
                        <p class="number item_price"><i> </i>Rs 300.00</p>
                    </div>
                    <div class="col-md-3 grid-top">
                        <a href="../../product/p1" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="../../Content/images/p4.jpg" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-left    b-delay03 ">
                                    <span>NEW</span>
                                </h3>
                            </div>
                        </a>
                        <p>k-Obiol</p>
                        <p class="number item_price"><i> </i>Rs 200.00</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!----->
    </div>
    <!---->

</div>



