@{
    ViewBag.Title = "login";
}

<!-- grow -->
<div class="grow">
    <div class="container">
        <h2>Login</h2>
    </div>
</div>
<!-- grow -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>

<body>
    <!--content-->
    <div class="container">
        <div class="account">
            <div class="account-pass">
                <div class="col-md-8 account-top">

                    <form action="/Home/Loginn" method="POST">

                        <strong>Name</strong><br>
                        <input type="Text" id="name" name="name" class="form-control" value="" required />
                        <span id="name1"></span><br>

                        <strong>Password</strong><br>
                        <input type="Password" id="password" name="password" class="form-control" value="" required />
                        <span id="password1"></span><br>



                        <button type="submit" class="contact_input" value="submit" onclick="validate()"> LogIn </button> <br />
                    </form>

                    @*<form name="register" method="post" action="~/Home/UserLogin">

                            <div>
                                <span>Username</span>
                                <input type="text" name=loginInfo.adminname class="contact_input" />
                            </div>
                            <div>
                                <span>Password</span>
                                <input type="password" name="loginInfo.password" class="contact_input" />
                            </div>
                            <input type="submit" class="register" value="Login">

                        </form>*@




                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>

                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>

                </div>

            </div>
        </div>

    </div>

    <!--//content-->



</body>
</html>




</html>



































